<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/src/main/resources/static/css/Register.css">
  <title>회원가입</title>
</head>
<body>
  <header class="menu">
    <div class="brand-logo">
      <a href="index.html">
      <img id="logo" src="logo.png">
      </a>
    </div>
      <div class="main-menu">
      <a id="menu-login" href="Login.html">로그인</a>
      <a id="menu-register" href="Register.html">회원가입</a>
    </div>
  </header>

  회원가입 페이지
</body>
</html>